.App {
  text-align: center;
}
main {
  display: flex;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.ad-slot {
  display: flex;
  flex-direction: row;
  height:fit-content;
}

.ad {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 250px;
}

.ad-info {
  background-color: #cfc8c8;
  padding: 20px;
}

